@using CW_FrontEnd_rebuilt.ObjectModel
@model CW_FrontEnd_rebuilt.ObjectModel.User

@{
    ViewData["Title"] = "Profile Page";
}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
       <div class="card shadow-sm">
                <img src=@Model.imageLink class="rounded float-start" style='height: 100%; width: 100%; object-fit: contain'>
            <div class="card-body">
                <h2>@Model.userName</h2>
              <div class="d-flex justify-content-between align-items-center">
                 
              <p class="card-text">@Model.bio</p>
              </div>
              <div class="btn-group">
                   <button type="button" class="btn btn-light btn-sm">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Edit">Edit</a>
</button>
 <button type="button" class="btn btn-light btn-sm">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">Logout</a>
</button>
                </div>
               
            </div>
          </div>
    </div>
    <div class="col-sm">
     
    </div>
  </div>
               
            
        </div>
      </div>
   
  <h1>Your Characters: </h1>
  <ul class="list-group list-group-flush">
      
  @if (Model.characters!=null)
  {
     Character[] array = Model.characters.ToArray();
                        for(int i = 0; i<array.Length/3+1; i++)
    {
        int num_ident;
        if(array.Length/3==i)
        {
        num_ident = array.Length%3;
        }
        else{ num_ident = 3; }
        
  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @for(int y=0; y<num_ident; y++)
            {
                <div class="col">
          <div class="card shadow-sm">
                <img src=@array[3*i+y].imageLink class="rounded float-start" alt="...">
            <div class="card-body">
              <p class="card-text">@array[3*i+y].bio</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
              <div class="btn-group">
                   <button type="button" class="btn btn-light btn-sm">
                  <a href="https://animetyandnd.azurewebsites.net/characters/view/@array[3*i+y].characterId" class="nav-link text-dark" >@array[3*i+y].firstName @array[3*i+y].lastName</a>
                  </button>
                  <button type="button" class="btn btn-light btn-sm">
                  <a href="https://animetyandnd.azurewebsites.net/characters/remove/@array[3*i+y].characterId" class="nav-link text-dark" >Remove</a>
                  </button>
                </div>
               
            </div>
          </div>
        </div>
            }
            </div>
        </div>
      </div>
  
    }
   }

   else
   {
       <h6>no characters. create some:</h6>
   }
</ul>
    <button type="button" class="btn btn-light btn-sm">
    <a class="nav-link text-dark" asp-area="" asp-controller="Characters" asp-action="AddCharacter">Add</a>
</button>

  
