@model CW_FrontEnd_rebuilt.ObjectModel.User;
@{
    ViewData["Title"] = "Edit Profile";
}

 <div class="container">
        <div class="row"> 
   <div class="col-sm">
      
    </div>
       <div class="col-sm">
      
<main class="form-signin w-100 m-auto">
  <form asp-controller="User" asp-action="SEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">MAKE A CHANGE</h1>
        <p class="lead text-muted">or don't; whatever</p>
      </div>
    </div>
  </section>

    <div class="form-floating">
         <h5 class="h5 fw">username</h5>
      <input asp-for="userName"  class="form-control"value="@Model.userName">
      <span asp-validation-for="userName" class="text-danger"></span>
    </div>
    
    <div class="form-floating">
         <h5 class="h5 fw">bio</h5>
      <input asp-for="bio" class="form-control"value="@Model.bio" placeholder="@Model.bio>
      <span asp-validation-for="bio" class="text-danger"></span>
    </div>

    <div class="form-floating">
         <h5 class="h5 fw">password</h5>
      <input asp-for="password" name="Password" type="text" class="form-control" value="@Model.password">
      <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div class="form-floating">
         <h5 class="h5 fw">image link</h5>
      <input asp-for="imageLink" name="ImageLink" type="text" class="form-control" value="@Model.imageLink">
      <span asp-validation-for="password" class="text-danger"></span>
    </div>
   <div class="form-floating">
      <input asp-for="role" name="Role" readonly="readonly" type="text" class="form-control" value="@Model.role">
    </div>
    <div class="form-floating">
      <input asp-for="characters" name="Role" readonly="readonly"  class="form-control" value="@Model.characters">
    </div>
     <div class="form-floating">
      <input asp-for="userId" name="UserId" type="number" readonly="readonly" class="form-control" value="@Model.userId" >
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">confirm changes</button>
    <p class="mt-5 mb-3 text-muted">©2022</p>
  </form>
</main>

    </div>
    <div class="col-sm">
      
    </div>
    </div>
    </div>
     </div>
