@model CW_FrontEnd_rebuilt.ObjectModel.Character
@{
    ViewData["Title"] = "Edit Character";
}

           <div class="container">
        <div class="row"> 
   <div class="col-sm">
      
    </div>
       <div class="col-sm">  

<main class="form-signin w-100 m-auto">
  <form action="https://animetyandnd.azurewebsites.net/characters/supdate" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="h3 mb-3 fw-normal">Edit</h1>

    <div class="form-floating">
      <h5 class="h5 fw">first name</h5>
      <input asp-for="firstName"  class="form-control"value="@Model.firstName" required>
      <span asp-validation-for="firstName" class="text-danger"></span>
    </div>
    <div class="form-floating">
      <h5 class="h5 fw">last name</h5>
      <input asp-for="lastName"  class="form-control"value="@Model.lastName" required>
      <span asp-validation-for="lastName" class="text-danger"></span>
    </div>
    <div class="form-floating">
      <h5 class="h5 fw">bio</h5>
      <input asp-for="bio"  class="form-control"value="@Model.bio" required>
      <span asp-validation-for="bio" class="text-danger"></span>
    </div>

    <div class="form-floating">
      <h5 class="h5 fw">race</h5>
      <input asp-for="race"  class="form-control" value="@Model.race" required>
      <span asp-validation-for="race" class="text-danger"></span>
    </div>

    <div class="form-floating">
      <<h5 class="h5 fw">image link</h5>
      <input asp-for="imageLink"  class="form-control" value="@Model.imageLink"required>
      <span asp-validation-for="imageLink" class="text-danger"></span>
    </div>

    <div> <label asp-for="strength" for="customRange2" class="form-label">Strength</label>
    <input asp-for="strength" class="form-range" min="0" max="10" id="Strength">
     <span asp-validation-for="strength" class="text-danger"></span>
    </div>

     <div> <label asp-for="intellect" for="customRange2" class="form-label">Intellect</label>
    <input asp-for="intellect" class="form-range" min="0" max="10" id="Strength">
    <span asp-validation-for="intellect" class="text-danger"></span>
    </div>
     <div> <label asp-for="charisma" for="customRange2" class="form-label">Charisma</label>
    <input asp-for="charisma" class="form-range" min="0" max="10" id="Strength">
    <span asp-validation-for="charisma" class="text-danger"></span>
    </div>
     <div> <label asp-for="wisdom" for="customRange2" class="form-label">Wisdom</label>
    <input asp-for="wisdom" class="form-range" min="0" max="10" id="Strength">
    <span asp-validation-for="wisdom" class="text-danger"></span>
    </div>
     <div> <label asp-for="dexterity" for="customRange2" class="form-label">Dexterity</label>
    <input asp-for="dexterity" class="form-range" min="0" max="10" id="Strength">
    <span asp-validation-for="dexterity" class="text-danger"></span>
    </div>

    <div class="form-floating">
      <label asp-for="userId" for="floatingPassword"></label>
      <input asp-for="userId" name="UserId" type="number" readonly="readonly" class="form-control" value="@Model.userId" >
    </div>
    <div class="form-floating">
      <label asp-for="characterId" for="floatingPassword"></label>
      <input asp-for="characterId" name="CharacterId" type="number" readonly="readonly" class="form-control" value="@Model.characterId" >
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
    <p class="mt-5 mb-3 text-muted">©2022</p>
  </form>
</main>


    </div>
    <div class="col-sm">
      
    </div>
    </div>
    </div>
     </div>

